<h1>Listing hours</h1>

<table>
  <tr>
    <th>Hours</th>
    <th>Comments</th>
  </tr>

<% @hours.each do |hour| %>
  <tr>
    <td><%= hour.hours %></td>
    <td><%= hour.notes %></td>
    <td><%= link_to 'Show', hour %></td>
    <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
    <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hour', new_hour_path %>
