<p id="notice"><%= notice %></p>

<h1>Showing schedule: <%= @schedule.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Remaining Hours</th>
    <th>Total Hours</th>
    <th>Notes</th>
  </tr>

  <tr>
    <td><%= @schedule.name %></td>
    <td><%= @schedule.hours_left %></td>
    <td><%= @schedule.hours_allotted %></td>
    <td><%= @schedule.notes %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Hours</th>
    <th>Comments</th>
  </tr>

<% @schedule.hours.each do |hour| %>
  <tr>
    <td><%= hour.hours %></td>
    <td><%= hour.notes %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Log new hours', new_hour_path(schedule: @schedule.id) %> |
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
